TEN_TEXTER_DATABASE_URL=sqlite:///ten_texter.db
TEN_TEXTER_OWNER_ID=123456789
TEN_TEXTER_OWNER_CHAT_ID=123456789
TEN_TEXTER_LOG_LEVEL=INFO
TEN_TEXTER_REAL_TRANSPORTS_ENABLED=false
TEN_TEXTER_TELEGRAM_BOT_TOKEN=
TEN_TEXTER_BEEPER_BASE_URL=http://127.0.0.1:23373
TEN_TEXTER_BEEPER_TOKEN=
TEN_TEXTER_PRIMARY_MODEL_URL=http://127.0.0.1:8001
TEN_TEXTER_VALIDATOR_MODEL_URL=http://127.0.0.1:8002
TEN_TEXTER_OWNER_TIMEZONE=America/Toronto
